
header{
    max-width: 360px;
}
header > .container{
    max-width :360px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    position: relative;
    top:5px;

}


.main_back{
    max-width :360px;
    height:180px;

    z-index: -2;
}
.main_back img{
    max-width: 360px;
    width: 100%;
    position:absolute;
    top: 0px;
    left:9px;
    z-index: -1;
}

.contents > .container{
    max-width :360px;
    height: 300px;

}
.title{
    max-width :360px;
}
.title > .container{
    max-width :360px;
    width: 50%;
}

.title > .container p{
    border-bottom: solid 2px #000000;
    position:relative;
    left:15px;
    top:-20px
}
.img_contents{
    position:relative;
    top:-40px;
}

.img_contents > .container{
    max-width :360px;
}
.img_contents > .container img{
    max-width :360px;
    width:80%;
    margin: 30px 30px;
}
.option_contents{
    max-width :360px;
}
.option_contents img{
    margin: 0px 140px;
    position:relative;
    top:-40px;
}
.box{
    height:896px;
    width:414px;
    position:absolute;
    top:0;
    left:0;
    background:#e62a2a57;
}
