.header{
    background: #3f484d13;
}

.img1{
    width : 19em;
    margin-right : auto;
    margin-left : auto;
    position:relative;
    top: 10px;
}

.h1{
    width : 10em;
    margin-right : auto;
    margin-left : auto;
    color: #FFFFFF;
    position:relative;
    top: 15px;
}

.p1{
    width : 7em;
    margin-right : auto;
    margin-left : auto;
    color: #FFFFFF;
}

.h2{
    background: #0f475e;
    color: #FFFFFF;
}

.ul{
font-size: 13px;
}

.h3{
    width : 7em;
    font-size: 40px;
    margin-right : auto;
    margin-left : auto;
    position:relative;
    top: 20px;
}
.p3{
    color: #FFFFFF;
    width : 20em;
    font-size: 18px;
    margin-right : auto;
    margin-left : auto;
}





body{
    background: #c0bab3;
}

ul {
    list-style: none;
  }

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #4E4A4A;
}
header > .container{
    display: flex;
    align-items: center;
    height : 90px;

}
.area_logo_header p{
    padding: 0 20px;
    font-size: 40px;
}


.nav_header{
    margin: 0 0 0 auto;
}
.list_nav_header{
    display: flex;
    align-items: center;
    margin: 0px;

}
.list_nav_header > li{
    padding: 0 15px;
    font-size: 25px;
}
.list_nav_header a{
    color: #2699FB;
}

main{

}


.area_top_view{
    height : 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff4d;
}



.area_top_view p{
    font-size: 50px;
    color: #ffffff;
    font: 500 80px/1em "Vladimir Script","noto sans japanese",sans-serif;
    transform: translateY(40%);
}

.icon_list{
    display: flex;
    top: 30px;
    padding: 150px 0px 0 70px;
}

.icon_list li{
    padding: 0 20px;
}

/*yugioh.html*/
.area_top_view_yugioh{
    height : 400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.area_top_view_yugioh_text{
    text-align: center;
    line-height: 30%;

    font-size: 30px; 
}
#t1{
    font-size: 30px; 
}
#t2{
    font-size: 20px; 
}
.area_top_view_button{
    height : 150px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.area_top_view_button p{
    line-height: 0%;
}

.area_top_view_info{
    height : 300px;

    flex-direction: column;


}
.area_top_view_info > .container{
    background-color: #69625d36;
    width: 1900px;
    height: 270px;
    transform: translateY(10%);
    margin-left: 150px;
    font-size: 20px; 

}
.area_top_view_info > .container p{
    font-size: 40px; 
    line-height: 0%;
}
.area_top_view_info > .container li{
    font-size: 30px; 
}